*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #9faa8c;
}

.container .dark{
    background-color: #18191A;
}

.about{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 7%;
    margin-bottom: 1%;
    color: #283618;
}
.about:hover{
    color: #285743;
    transition: 0ms;
}

#content{
    /* position: absolute; */
    /* transform: translate(0); */
    /* top: 5%;
    left: 10%;
    right: 3%; */
    display: flex;
    justify-content: center;
    /* margin-top: 15%; */
    /* margin: 0 40px 0px 40px; */
    padding-right: 40px;
}

.para{
    font-size: large;
    font-weight: 400;
    margin-bottom: 5%;
    text-align: justify;
    width: 1000px;
}

.italic{
    color: #1c3f30;
}

.quote{
    display: flex;
    justify-content: center;
    color: #081c15;
    font-weight: bold;
}

@media(min-width: 320px){
    .about{
        margin-top: 10%;
    }

    #content{
        padding-left: 35px;
    }
}
@media(max-width: 768px){
    .about{
        margin-top: 20%;
    }

    #content{
        padding-left: 25px;
    }
}
